<!DOCTYPE html>
<html>
<head>
<title>Xem phim online, tìm phim gì cũng có</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--css-->
<link rel="stylesheet" href="/css/select2.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<!--/css-->
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--fonts-->

<!--js-->
</head>
<body>
	<div class="container1">
		<div class="content-header">
			<img src="/images/logo.png"/>
		</div>
	</div>
	<div class="clear"> </div>
	
	<div class="notify" class="main clearfix column">
			
			
			  <form class="pure-form" method="get" action="/search">
            <fieldset>
              {{#csrfToken}}
              <input class="pure-input-1" type="hidden" name="_csrf" value="{{csrfToken}}">
              {{/csrfToken}}
              <input class="textbox" type="text" name="q" placeholder="Nhập Tên Phim">
              <input class="md-trigger md-setperspective" type="submit" value="Tìm phim">
                
              </button>
            </fieldset>
          </form>
		</div>
		
		<div class="social-icons">
			<h3>Social Networks</h3>
				<ul>
				<li><a href="#" target="_blank"><img src="/images/facebook.png" title="facebook"></a></li>
					<li><a href="#" target="_blank"><img src="/images/twitter.png" title="Twiiter"></a></li>
				</ul>
		</div>
		
		<div class="copy-right">
			<p>A PRODUCT OF <a href="http://www.phimvip.info" target="_blank">PHIMVIP</a> © 2017. </p>
		</div>
</body>
</html>